*{
    text-transform: uppercase;
}
span{
    font-weight: bold;
    font-size: larger;
}
header{
    background-image: url('main_image.jpeg');
    background-repeat: no-repeat;
    background-size: 130%;
    color: white;
    padding-left: 1.6%;
    padding-right: 1.5%;
}
hr{
    background-color: #3bbddc;
    padding: 0.6%;
    width: 4.5%;
    margin-left: 10%;

}
.icon h2{
    font-weight: bolder;
    font-size: 310%;
    padding-left: 10%;
    margin-top: -2.5%;
}
.icon{
    background-color: #58565691;
    margin-bottom: 15%;
}
.icon h4{
    margin-top: -5%;
}
.icon span, .icon h5{
    padding-left: 10%;
    padding-top: -4%;
}
.languges{
    background-color: #5b5a5fb6;
    padding-bottom: 10%;
}
.languges a{
    text-decoration: none;
    color: white;
    
}
.languges li{
list-style-type: square;
text-align: right;
direction: rtl;
margin-right: 3%;

}
.learn{
    font-size: larger;
    background-color: #e4d166a4;
   
}
.learn h2, .learn h3{
    
    font-size: 300%;
    padding-left: 18%;
    
}
.learn h2{
    font-weight: bolder;
    padding-top: 2%;
}
.Address {
    background-color: #444549ad;
    text-align: right;
    
}

.Address h5, .Address p{
    padding-right: 5%;
}
.start_it h1{
    color: #dd5362;
}
.start_it h4, .start_it p{
    color: gray;
}
.logo{
    background-color: #3bbddc;
    color: white;
    text-align: left;
}
.logo img{
    transform: rotate(-30deg);
}
.coded_txt h4{
   margin-top: 15%;
   margin-left: -23%;

}
.coded_txt p{
    margin-left: -23%;
    margin-top: -5%;
}
.Descripsion{
    background-color:  #f8faf9;
}
.Descripsion h5{    
    color: #dd5362;
    
}
.Descripsion a{
    color: gray;
    margin-left: -15%;
    
}
.Descripsion h6 {    
    
    color: gray;
}
.Descripsion h3{
    color: gray;
}
.Descripsion p{
    color: lightgray;
}
.end_it h2{
    color: #3bbddc;
    text-align: center;
}
.end_it h3{
    color: gray;
    text-align: center;
    padding-bottom: 5%;
}
.end_it img{
    margin-left: 85%;
}
.end_it h4, .end_it p{
    color: lightgray;
    
    text-align: justify;
    padding-left: 30%;
    text-align: right;
}
.end_it h4{
    color: gray;
}