*{
    text-transform: uppercase;
}
span{
    font-weight: bold;
    font-size: larger;
}
header{
    background-image: url('main_image.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    
}
hr{
    background-color: #3bbddc;
    padding: 0.6%;
    width: 4.5%;
    margin-left: 10%;

}
.icon h2{
    font-weight: bolder;
    font-size: 310%;
    padding-left: 10%;
    margin-top: -2.5%;
}
.icon{
    background-color: #58565691;
    margin-bottom: 15%;
}
.icon h4{
    margin-top: -5%;
}
.icon span, .icon h5{
    padding-left: 10%;
    padding-top: -4%;
}
.languges{
    background-color: #5b5a5fb6;
    padding-bottom: 10%;
}
.languges a{
    text-decoration: none;
    color: white;
}
.languges li{
list-style-type: square;
text-align: right;

}
.learn{
    font-size: larger;
    background-color: #e4d166a4;
   
}
.learn h2, .learn h3{
    
    font-size: 300%;
    padding-left: 18%;
    
}
.learn h2{
    font-weight: bolder;
    padding-top: 2%;
}
.Address {
    background-color: #444549ad;
    text-align: right;
    
}

.Address h5, .Address p{
    padding-right: 5%;
}
.start_it h1{
    color: #dd5362;
}
.start_it h4, .start_it p{
    color: gray;
}
.logo{
    background-color: #3bbddc;
    color: white;
    text-align: left;
}
.coded_txt h4{
 margin-top: 10%;   
}
.Descripsion{

}
