*{
    text-transform: uppercase;
    
}
span{
    font-weight: bold;
    font-size: larger;
}
header{
    /* background-image: url('code.jpeg'); */
    /* background-repeat: no-repeat; */
    /* background-size: 100%; */
    color: white;
    position: relative; 
    /* width: 101.2%; */
}
.main_header img{
    position: absolute;
    height: 100%;
    width: 102.3%;
}
.first_line{
    background-color: #3bbddc;
    padding: 0.6%;
    width: 3.5%;
    margin-left: 3%;

}
.icon h2{
    font-weight: bolder;
    font-size: 355%;
    padding-left: 3%;
    margin-top: -2.5%;
    
}
.icon{
    background-color: #5856564b;
    margin-bottom: 15%;
    /* margin-left: -1.4%; */
    position: relative;
}
.icon h4{
    margin-top: -3%;

}
.icon span, .icon h5{
    padding-left: 3%;
    padding-top: -5%;
}
.languges{
    background-color: #5b5a5fb6;
    padding-bottom: 10%;
    padding-top: 5%;
    position: relative;
}
.languges a{
    color: white;
    font-size: larger;
    margin-right: 7%;

}
.languges a:hover{
    text-decoration: none;
    color: #3bbddc;
    padding-right: 5%       ;
}

.languges li{
list-style-type: square;
text-align: right;
direction: rtl;
margin-right: 9%;
text-decoration: none;
color: white;
font-size: 120%;
font-weight: 1000;
}
.learn{
    font-size: larger;
    background-color: #e4d166a4;
    position: relative;
    
}
.learn h2, .learn h3{
    
    font-size: 300%;
    padding-left: 3%;
    margin-right: -5%;
}
.learn h2{
    font-weight: bolder;
    padding-top: 2%;
    font-weight: 1000;
}
.Address {
    background-color: #444549ad;
    text-align: right;
    /* margin-left: -1.4%; */
    position: relative;
}
#add{
    overflow: hidden;
}


.Address h5, .Address p{
    padding-right: 9%;
}
.start_it h1{
    color: #dd5362;
    padding-left: 3%;
    padding-top: 3%;

}
.start_it h4, .start_it p{
    color: gray;
    padding-left: 3%;
}
.logo{
    background-color: #3bbddc;
    color: white;
    text-align: left;
    padding: 2%;
}
.logo img{
    
    padding: 1%;
}
.coded_txt h4{
   margin-top: 35%;
   margin-left: -13%;
   padding-left: 5.5%;  
}
.coded_txt p{
    margin-left: -13%;
    margin-top: -7%;
    padding-left: 5.5%;
}
.Descripsion{
    background-color:  #f8faf9;
    padding-top: 3%;
    
}
.Descripsion h5{    
    color: #dd5362;
    padding: 1.5%;
    padding-left: 3%;
    
}
.Descripsion a{
    color: gray;
    margin-left: -25%;
    text-decoration: none;
}
.Descripsion a:hover{
    text-decoration: none;
    color: gray;
}
.Descripsion h6 {    
    padding: 2%;
    color: gray;
    padding-left: 3%;
}
.Descripsion h3{
    color: gray;
    padding-left: 4.3%;
}
.Descripsion p{
    color: lightgray;
    padding: 3%;
    text-align: center;
}
.end_it h2{
    color: #3bbddc;
    text-align: center;
    font-weight: 1000;
}
.end_it h3{
    color: gray;
    text-align: center;
    padding-bottom: 5%;
}
.end_it img{
    margin-left: 73%;
    height: 25%;
    width: 35%;
    margin-top: -8%;
}
.end_it h4, .end_it p{
    color: lightgray;
    
    direction: rtl  ;
    padding-left: 30%;
    text-align: right;
}
.end_it h4{
    color: gray;
    margin-top: -5%;
}
.last{
    padding: 0.8%;
    width: 100%;
    margin-right: 4%;
    background-color: #dd5362;
    margin-top: 14%;
}